<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">

        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/github-dark.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/main.css">

        <title>{{ page.title }}</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/cv">CV</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
        <div class="container">
            <div class="blurb">

        {{ content }}

            </div>
        </div><!-- /.container -->
        <footer>
            <ul>
                <li><a href="mailto:huayanghao@gmail.com">email</a></li>
                <li><a href="https://github.com/yanghao">github.com/yanghao</a></li>
            </ul>
        </footer>
    </body>
</html>
